Source: nodejs-mmap
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7), binutils, nodejs-dev (>= 0.2.4)
Standards-Version: 3.9.1

Package: nodejs-mmap
Depends: nodejs (>= 0.2.4), libffi5, ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: node-mmap
 http://github.com/bnoordhuis/node-mmap
